.Recommed {
    padding: 39px 10.41% 156px 10.41%;
    .Header {
        margin-bottom: 29px;
        h2 {
            letter-spacing: 00.14px;
            font-size: 24px;
            font-weight: 500;
        }
    }
    .Cards {
        display: flex;
        flex-wrap: wrap;
    }
}