.CardProducts {
    width: 253px;
    height: auto;
    border: 1px solid #E5E5E5;
    margin: 12px;
    img {
        border: 0;
        width: 253px;
        height: 216px;
        background-color: #E5E5E5; 
    }
    .Detail{
        display: flex;
        justify-content: space-between;
        .ProductDetail{
            padding: 7px 14px 15px 21px;
            p{
                margin: 0;
            }
            .ProductName {
                font-style: normal;
                font-weight: bold;
                font-size: 15px;
            }
            .Price {
                font-style: normal;
                font-weight: 500;
                font-size: 13px;
            }
            .Rate {
                color: #535252;
            }
            Button {
                color: #FFFFFF;
                width: 133px;
                margin: 7px 0;
                background: #535252;
                border-radius: 2px;
            }
        }
        .Like {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 7px 14px;
            padding: 0 20px;
            width: 40px;
            height: 26px;
            background: #FFFFFF;
            border: 1px solid #E5E5E5;
        }
    }
}